<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>DANFSe</title>
  </head>
  <body
    style="
      font-family: {{FONT_FAMILY}}
      font-size: {{FONT_SIZE}}
      margin: 0;
      padding: 0;
      margin: 5px;
      border: 2px solid #000;
    "
  >
    <div class="page" style="width: 100%; margin: 0 auto">
      <!--div de CANCELADA -->
      {{NFSE_CANCELADA_DIV}}
      <!-- CABEÇALHO -->
      <div class="section" style="border-bottom: none; margin-top: 4px; margin-bottom: -10px">
        <div class="section-content" style="padding: 1px 6px 6px 6px">
          <table style="width: 100%; border-collapse: collapse">
            <tr>
              <td style="width: 30%; vertical-align: top">
                <img
                  style="padding: 6px 0px 6px 5px; width: auto; height: 40px"
                  alt="Logo"
                  class="nfse-logo"
                  src="data:image/png;base64,{{NFSE_LOGO}}"
                />
              </td>
              <td style="width: 40%; vertical-align: top; text-align: center">
                <div class="title-main" style="font-size: 15px; font-weight: bold">DANFSe v1.0</div>
                <div class="title-main" style="font-size: 15px; font-weight: bold">Documento Auxiliar da NFS-e</div>
                <div
                  class="big-title-warning"
                  style="font-size: 15px; font-weight: bold; color: red; margin-bottom: 2px"
                >
                  {{VALIDADE_JURIDICA}}
                  <br />
                </div>
              </td>
              <td style="width: 30%; vertical-align: top">
                <table cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="vertical-align: top">
                      <img
                        style="width: auto; height: 50px; margin-top: 2px; margin-right: 10px"
                        class="prefeitura-logo"
                        src="data:image/png;base64,{{PREFEITURA_LOGO}}"
                      />
                    </td>
                    <td style="width: 6px">&nbsp;</td>

                    <td style="vertical-align: top; font-size: 12px">{{LOGO_NAME}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div style="border-top: 1px solid #000; margin: 0 5px"></div>
      <!-- CHAVE DE ACESSO -->
      <div class="section">
        <div
          class="section-title"
          style="
            padding: 4px 6px;
            font-size: {{FONT_SIZE}}
            text-transform: uppercase;
            text-transform: none;
            margin-bottom: -5px;
            margin-left: 3px;
			      font-weight: bold;
          "
        >
          Chave de Acesso da NFS-e
        </div>
        <table style="width: 100%; border-collapse: collapse">
          <tr>
            <td style="vertical-align: top; width: 75%">
              <div style="margin-left: 8px; margin-bottom: 5px">{{CHAVE_ACESSO}}</div>
              <div class="section-content" style="padding: 1px 6px 0px 6px">
                <table style="width: 100%; border-collapse: collapse; margin-top: 7px">
                  <tr>
                    <td style="vertical-align: top; width: 25%">
                      <div>
                        <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                          Número da NFS-e
                        </span>
                        <br />
                        {{NUMERO_NFSE}}
                      </div>
                    </td>
                    <td style="vertical-align: top; width: 25%">
                      <div>
                        <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                          Competência da NFS-e
                        </span>
                        <br />
                        {{COMPETENCIA}}
                      </div>
                    </td>
                    <td style="vertical-align: top; width: 25%">
                      <div>
                        <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                          Data e Hora da emissão da NFS-e
                        </span>
                        <br />
                        {{DATA_HORA_EMISSAO}}
                      </div>
                    </td>
                  </tr>
                </table>
                <table style="width: 100%; border-collapse: collapse; margin-top: 7px">
                  <tr>
                    <td style="vertical-align: top; width: 25%">
                      <div>
                        <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                          Número da DPS
                        </span>
                        <br />
                        {{NUMERO_DPS}}
                      </div>
                    </td>
                    <td style="vertical-align: top; width: 25%">
                      <div>
                        <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                          Série da DPS
                        </span>
                        <br />
                        {{SERIE_DPS}}
                      </div>
                    </td>
                    <td style="vertical-align: top; width: 25%">
                      <div>
                        <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                          Data e Hora da emissão da DPS
                        </span>
                        <br />
                        {{DATA_HORA_EMISSAO_DPS}}
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
            <td style="vertical-align: top; width: 25%; text-align: center">
              <div
                class="qrcode-container"
                style="
                  margin-top: -15px;
                  width: 80px;
                  height: 80px;
                  margin-left: auto;
                  margin-right: auto;
                  margin-top: -10px;
                  font-weight: bold;
                "
              >
                <img alt="Logo" class="qrcode" src="{{QRCODE_SRC}}" style="width: 100%; height: 100%" />
              </div>
              <div style="font-size: {{FONT_SIZE_QRCODE}} text-align: left">
                A autenticidade desta NFS-e pode ser verificada pela leitura deste código QR ou pela consulta da chave
                de acesso no portal nacional da NFS-e
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div style="border-top: 1px solid #000; margin: 0 5px"></div>
      <!-- PRESTADOR -->
      <div class="section">
        <div class="section-content" style="padding: 1px 6px 6px 6px">
          <table style="width: 100%; border-collapse: collapse">
            <tr>
              <td style="vertical-align: top; width: 25%">
                <span
                  class="label"
                  style="font-size: {{FONT_SIZE_HEADER}} color: black; font-size: 12px; font-weight: bold"
                >
                  EMITENTE DA NFS-e
                </span>
                <br />
                {{PREST_SERV}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}} color: black; font-weight: bold">
                  CNPJ / CPF / NIF
                </span>
                <br />
                {{PREST_CNPJ}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}} color: black; font-weight: bold">
                  Inscrição Municipal
                </span>
                <br />
                {{PREST_IM}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}} color: black; font-weight: bold">Telefone</span>
                <br />
                {{PREST_FONE}}
              </td>
            </tr>
          </table>
          <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
            <tr>
              <td style="vertical-align: top; width: 50%">
                <span class="label" style="font-size: {{FONT_SIZE}} color: black; font-weight: bold">
                  Nome / Nome Empresarial
                </span>
                <br />
                {{PREST_RAZAO}}
              </td>
              <td style="vertical-align: top; width: 50%">
                <span class="label" style="font-size: {{FONT_SIZE}} color: black; font-weight: bold">E-mail</span>
                <br />
                {{PREST_EMAIL}}
              </td>
            </tr>
          </table>
          <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
            <tr>
              <td style="vertical-align: top; width: 50%">
                <span class="label" style="font-size: {{FONT_SIZE}} color: black; font-weight: bold">Endereço</span>
                <br />
                {{PREST_ENDERECO}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}} color: black; font-weight: bold">Município</span>
                <br />
                {{PREST_MUNICIPIO}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}} color: black; font-weight: bold">CEP</span>
                <br />
                {{PREST_CEP}}
              </td>
            </tr>
          </table>
          <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
            <tr>
              <td style="vertical-align: top; width: 50%">
                <span class="label" style="font-size: {{FONT_SIZE}} color: black; font-weight: bold">
                  Simples Nacional na Data de Competência
                </span>
                <br />
                {{PREST_SIMPLES}}
              </td>
              <td style="vertical-align: top; width: 50%">
                <span class="label" style="font-size: {{FONT_SIZE}} color: black; font-weight: bold">
                  Regime de Apuração Tributária pelo SN
                </span>
                <br />
                {{PREST_REGIME_SN}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- ======================= -->
      <!-- TOMADOR (CONDICIONAL)   -->
      <!-- ======================= -->
      <!-- TOMADOR:BEGIN_NOT_IDENTIFIED -->
      <div style="border-top: 1px solid #000; margin: 0 5px"></div>
      <div class="section" style="border-bottom: none; text-align: center; font-size: 14px; font-weight: bold">
        <span>TOMADOR DO SERVIÇO NÃO IDENTIFICADO NA NFS-e</span>
      </div>
      <!-- TOMADOR:END_NOT_IDENTIFIED -->
      <!-- TOMADOR:BEGIN_IDENTIFIED -->
      <div style="border-top: 1px solid #000; margin: 0 5px"></div>
      <div class="section">
        <div class="section-content" style="padding: 1px 6px 6px 6px">
          <table style="width: 100%; border-collapse: collapse">
            <tr>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE_HEADER}}; color: black; font-weight: bold">
                  TOMADOR DO SERVIÇO
                </span>
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  CNPJ / CPF / NIF
                </span>
                <br />
                {{TOMA_CNPJ}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Inscrição Municipal
                </span>
                <br />
                {{TOMA_IM}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">Telefone</span>
                <br />
                {{TOMA_FONE}}
              </td>
            </tr>
          </table>

          <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
            <tr>
              <td style="width: 50%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">Nome / Nome Empresarial</span>
                <br />
                {{TOMA_RAZAO}}
              </td>
              <td style="width: 50%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">E-mail</span>
                <br />
                {{TOMA_EMAIL}}
              </td>
            </tr>
          </table>

          <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
            <tr>
              <td style="width: 50%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">Endereço</span>
                <br />
                {{TOMA_ENDERECO}}
              </td>
              <td style="width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">Município</span>
                <br />
                {{TOMA_CMUN}}
              </td>
              <td style="width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">CEP</span>
                <br />
                {{TOMA_CEP}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- TOMADOR:END_IDENTIFIED -->
      <!-- ============================ -->
      <!-- INTERMEDIÁRIO (CONDICIONAL)  -->
      <!-- ============================ -->
      <!-- INTERMEDIARIO:BEGIN_NOT_IDENTIFIED -->
      <div style="border-top: 1px solid #000; margin: 0 5px"></div>
      <div class="section" style="border-bottom: none; text-align: center; font-size: 14px; font-weight: bold">
        <span>INTERMEDIÁRIO DO SERVIÇO NÃO IDENTIFICADO NA NFS-e</span>
      </div>
      <!-- INTERMEDIARIO:END_NOT_IDENTIFIED -->
      <!-- INTERMEDIARIO:BEGIN_IDENTIFIED -->
      <div style="border-top: 1px solid #000; margin: 0 5px"></div>
      <div class="section">
        <div class="section-content" style="padding: 1px 6px 6px 6px">
          <table style="width: 100%; border-collapse: collapse">
            <tr>
              <td style="width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE_HEADER}}; font-weight: bold">
                  INTERMEDIÁRIO DO SERVIÇO
                </span>
              </td>
              <td style="width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">CNPJ / CPF / NIF</span>
                <br />
                {{INTER_CNPJ}}
              </td>
              <td style="width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">Inscrição Municipal</span>
                <br />
                {{INTER_IM}}
              </td>
              <td style="width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">Telefone</span>
                <br />
                {{INTER_FONE}}
              </td>
            </tr>
          </table>

          <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
            <tr>
              <td style="width: 50%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">Nome / Nome Empresarial</span>
                <br />
                {{INTER_RAZAO}}
              </td>
              <td style="width: 50%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">E-mail</span>
                <br />
                {{INTER_EMAIL}}
              </td>
            </tr>
          </table>

          <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
            <tr>
              <td style="width: 50%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">Endereço</span>
                <br />
                {{INTER_ENDERECO}}
              </td>
              <td style="width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">Município</span>
                <br />
                {{INTER_CMUN}}
              </td>
              <td style="width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; font-weight: bold">CEP</span>
                <br />
                {{INTER_CEP}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- INTERMEDIARIO:END_IDENTIFIED -->
      <div style="border-top: 1px solid #000; margin: 0 5px"></div>
      <!-- SERVIÇO -->
      <div class="section" style="border-bottom: none; height: 310px; max-height: 310px">
        <div
          class="section-title"
          style="padding: 4px 6px; font-size: {{FONT_SIZE_HEADER}}; text-transform: uppercase; font-weight: bold"
        >
          Serviço Prestado
        </div>
        <div class="section-content" style="padding: 1px 6px 6px 6px">
          <table style="width: 100%; border-collapse: collapse">
            <tr>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Código de Tributação Nacional
                </span>
                <br />
                {{SERV_CTRIBNAC}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Código de Tributação Municipal
                </span>
                <br />
                {{SERV_CTRIBMUN}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Local da Prestação
                </span>
                <br />
                {{SERV_LOCAL}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  País da Prestação
                </span>
                <br />
                {{SERV_PAIS}}
              </td>
            </tr>
          </table>
          <div class="mt-1" style="margin-top: 5px; width: 100%">
            <div style="width: 90%">
              <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                Descrição do Serviço
              </span>
              <br />
              {{SERV_DESC_HTML}}
            </div>
          </div>
        </div>
      </div>
      <div style="border-top: 1px solid #000; margin: 0 5px"></div>
      <!-- TRIBUTAÇÃO MUNICIPAL -->
      <div class="section">
        <div
          class="section-title"
          style="padding: 4px 6px; font-size: {{FONT_SIZE_HEADER}}; text-transform: uppercase; font-weight: bold"
        >
          TRIBUTAÇÃO MUNICIPAL
        </div>
        <div class="section-content" style="padding: 1px 6px 6px 6px">
          <table style="width: 100%; border-collapse: collapse">
            <tr>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Tributação do ISSQN
                </span>
                <br />
                {{ISS_TRIBUTACAO}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  País Resultado da Prestação do Serviço
                </span>
                <br />
                {{ISS_PAIS}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Município de Incidência do ISSQN
                </span>
                <br />
                {{ISS_MUN_INC}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Regime Especial de Tributação
                </span>
                <br />
                {{ISS_REGIME}}
              </td>
            </tr>
          </table>
          <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
            <tr>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Tipo de Imunidade
                </span>
                <br />
                {{ISS_OPERACAO}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Suspensão da Exigibilidade do ISSQN
                </span>
                <br />
                {{ISS_SUSPENSAO}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Número Processo Suspensão
                </span>
                <br />
                {{ISS_PROCESSO}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Benefício Municipal
                </span>
                <br />
                {{ISS_BENEFICIO}}
              </td>
            </tr>
          </table>
          <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
            <tr>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Valor do Serviço
                </span>
                <br />
                {{VALOR_SERVICO}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Desconto Incondicionado
                </span>
                <br />
                {{ISS_DESC_INCOND}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Total Deduções/Reduções
                </span>
                <br />
                {{ISS_DEDUCOES}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Cálculo do BM
                </span>
                <br />
                {{ISS_CALCULO}}
              </td>
            </tr>
          </table>
          <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
            <tr>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">BC ISSQN</span>
                <br />
                {{ISS_BC}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Alíquota Aplicada
                </span>
                <br />
                {{ISS_ALIQ}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Retenção do ISSQN
                </span>
                <br />
                {{ISS_RETENCAO}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  ISSQN Apurado
                </span>
                <br />
                {{ISS_APURADO}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div style="border-top: 1px solid #000; margin: 0 5px"></div>
      <!-- TRIBUTAÇÃO FEDERAL -->
      <div class="section">
        <div
          class="section-title"
          style="padding: 4px 6px; font-size: {{FONT_SIZE_HEADER}}; text-transform: uppercase; font-weight: bold"
        >
          TRIBUTAÇÃO FEDERAL
        </div>
        <div class="section-content" style="padding: 1px 6px 6px 6px">
          <table style="width: 100%; border-collapse: collapse">
            <tr>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">IRRF</span>
                <br />
                {{FED_IRRF}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">CP</span>
                <br />
                {{FED_CP}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">CSLL</span>
                <br />
                {{FED_CSLL}}
              </td>
              <td style="vertical-align: top; width: 25%"></td>
            </tr>
          </table>
          <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
            <tr>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">PIS</span>
                <br />
                {{FED_PIS}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">COFINS</span>
                <br />
                {{FED_COFINS}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Retenção do PIS/COFINS
                </span>
                <br />
                {{FED_RET_PISCOFINS}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Total Tributação Federal
                </span>
                <br />
                {{FED_TOTAL}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div style="border-top: 1px solid #000; margin: 0 5px"></div>
      <!-- VALOR TOTAL DA NFS-E -->
      <div class="section">
        <div
          class="section-title"
          style="padding: 4px 6px; font-size: {{FONT_SIZE_HEADER}}; text-transform: uppercase; font-weight: bold"
        >
          VALOR TOTAL DA NFS-E
        </div>
        <div class="section-content" style="padding: 1px 6px 6px 6px">
          <table style="width: 100%; border-collapse: collapse">
            <tr>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Valor do Serviço
                </span>
                <br />
                {{VALOR_SERVICO}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Desconto Condicionado
                </span>
                <br />
                {{DESC_COND}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Desconto Incondicionado
                </span>
                <br />
                {{DESC_INCOND}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  ISSQN Retido
                </span>
                <br />
                {{ISS_RETIDO}}
              </td>
            </tr>
          </table>
          <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
            <tr>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  IRRF, CP, CSLL - Retidos
                </span>
                <br />
                {{FED_RETIDOS}}
              </td>
              <td style="vertical-align: top; width: 50%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  PIS/COFINS Retidos
                </span>
                <br />
                {{PISCOFINS_RET}}
              </td>
              <td style="vertical-align: top; width: 25%">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  Valor Líquido da NFS-e
                </span>
                <br />
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">
                  {{VALOR_LIQUIDO}}
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div style="border-top: 1px solid #000; margin: 0 5px"></div>
      <!-- TOTAIS APROXIMADOS DOS TRIBUTOS -->
      <div class="section">
        <div
          class="section-title"
          style="padding: 4px 6px; font-size: {{FONT_SIZE_HEADER}}; text-transform: uppercase; font-weight: bold"
        >
          TOTAIS APROXIMADOS DOS TRIBUTOS
        </div>
        <div class="section-content" style="padding: 1px 6px 6px 6px">
          <table style="width: 100%; border-collapse: collapse">
            <tr style="text-align: center">
              <td style="vertical-align: top">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">Federais</span>
                <br />
                {{TOT_FED}}
              </td>
              <td style="vertical-align: top">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">Estaduais</span>
                <br />
                {{TOT_EST}}
              </td>
              <td style="vertical-align: top">
                <span class="label" style="font-size: {{FONT_SIZE}}; color: black; font-weight: bold">Municipais</span>
                <br />
                {{TOT_MUN}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div style="border-top: 1px solid #000; margin: 0 5px"></div>
      <!-- INFORMAÇÕES COMPLEMENTARES -->
      <div class="section" style="border-bottom: none; height: 110px; max-height: 110px">
        <div
          class="section-title"
          style="padding: 4px 6px; font-size: {{FONT_SIZE_HEADER}}; text-transform: uppercase; font-weight: bold"
        >
          INFORMAÇÕES COMPLEMENTARES
        </div>
        <div class="section-content" style="padding: 1px 6px 6px 6px">
          <div>{{INF_COMPLEMENTARES}}</div>
        </div>
      </div>
    </div>
  </body>
</html>
